.lentele,
.lentele tr,
.lentele td,
.lentele th {
	border: 2px solid black;
}
.sautuvelis img{
	display: inline-flex;
}

.aprasas{
	max-width: 400px;
	width: 250px;
}


.aprasimas {
	color: grey;
	background-color: white;
	font-size: 30px;
}
.Produktas h2{
	margin:  0 ;
}
.Akcija h2{
	margin: 0 ;
}
.klase {
	margin-top: 80px;
}
.mygtukas{
	white-text;
}
.mano-owl-carousel div img{
	height: 200px;
}
.puska{
	display: block ;
}
.v{
	width: 200px;
}
.z{
	width: 200px;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

body{
    padding: 0;
    margin: 0;
}
.index-guns img{
    width: 100% !important;
}
.index-guns h4{
    margin: 0;
}
.index-guns h5{
    margin: 0;
}
.index-toys img{
    width: 100% !important;
}
.parallax-container {
	height: 300px !important;
	padding: 100px;
}
.products img{
	height: 200px;
}
.products div{
	border: 10px;
    border-radius: 8px;
    justify-content: space-around;
}
.search-container{
    width: 300px;
    margin: 0;
}
.search-form{
    width: 300px;
}
form.search-form input.search-input{
    width: 200px !important;
}
.products{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.product-image{
	height: 100%;
}
.sort-box {
	position: absolute;
	right: 0;
	bottom: 30px;
}
.products-toolbar {
	position: relative;
}
.products .col {
	padding-top: 15px;
	padding-bottom: 15px;
}
nav .brand-logo img{
    height: 100% !important;
}
img.logo{
    height: 100% !important;
}
.brand-logo{
    height: 100%;
}

/*personal aiva info starts*/

.personal-container{
/*    width: 1000px;*/
/*    height: 500px;*/
    margin-left: auto;
    margin-left: auto;
    display: block;
}
/*
.personal-container img{
    height: 400px;
}
*/
.personal-containers{
/*    height: 600px;*/
}
.personal-containers h2{
    text-align: center;
    margin-bottom: 50px;
}
.personal-image{
    width:40%;
    display: inline-block;
    vertical-align: middle;
}
.personal-image img{
   width: 100%;
}
.Personal-information{
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding-left: 150px;
}
.Personal-information p{
    padding: 20px;
}
.Personal-information h3{
    margin-top: 0;    
}
.Personal-information p{
    text-align: center;
    width: 100%;
}
.Personal-information h3{
    width: 100%;
    text-align: center;
}
/*
@media screen and (min-width:600px max-width: 1200px) {
  .personal-image {
    width: 100% !important;
      
  }
    .Personal-information {
    width: 100% !important;
     padding: 0 !important; 
  }
}
*/

@media screen and (max-width: 1200px) {
  .personal-image {
    width: 100%;
      
  }
    
    .Personal-information {
    width: 100%;
     padding: 0 !important; 
  }
}




/*aivaro personal ends*/
/*aivaro contacts starts*/

.contacts{
/*	height:550px;*/
	background-color: #0066ff
}
.contact-header{
	margin:0;
	padding-top:40px;
	text-align: center;
	color: white;
	font-size: 35px;
	padding-bottom:40px;
}
.map{
	height:330px;
	width:100%;
	padding-top: 10px;
}
.map-container{
	text-align: center;
	color: white;
    width: 40%;
    display: inline-block;
    padding-left: 10px;
}
.form-container{
    width: 40%;
    display: inline-block;
}
.contact-container{
	display: block;
	position: relative;
	margin-left: auto;
    margin-right: auto;
/*    width: 1200px;*/
    
}
.contact-div{
	margin: 0 20px; 
}

.input{
    width:100%;
	height:50px;
	margin-top:10px;
	border-radius: 10px;
}
.text-area{
	height:140px;
/*	width:500px;*/
	margin-top:10px;
	border-radius: 10px;
}
.submit{
	background-color: gray;
	font-size: 25px;
	font-weight: bold;
}
@media screen and (max-width: 600px) {
 .map-container {
    width: 100%;
      padding: 10px;
       margin: 0;
  }
    .map{
       width: 100% !important; 
        margin: 0;
        
    }
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 100%;
      margin: 0;
  }
    .forma{
        width: 100%;
    }
}

@media screen and (min-width: 600px max-width: 1200px) {
  .map-container{
    width: 40%;
  }
    .form-container{
        width: 40%;
    }
}

/*aivaro contacts ends*/